@import url("https://fastly.jsdelivr.net/npm/@fontsource/noto-serif-sc/index.css");
@import url("./Support.css");

:root {
    --Font: "Noto Serif SC";
}
.font-song {
    font-family: var(--Font);
}

.svg_bundle {
    height: 1.3em;
    width: 1.3em;
    margin: 0.5em;
    cursor: pointer;
}
/* 全局样式 */
.button-like {
    @apply transition-transform active:scale-90 cursor-pointer;
}

.tag {
    @apply px-2 py-1;
}

::-webkit-scrollbar {
    width: 6px; /* 竖向滚动条宽度 */
    height: 6px; /* 横向滚动条高度 */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px; /* 滚动条样式 */
    @apply bg-gray-300;
}
.min-h-64 {
    min-height: 16rem;
}
