@import url("https://fastly.jsdelivr.net/npm/github-markdown-css");
.markdown-body {
    font-family: var(--Font) !important;
    background-color: transparent !important;
}
.markdown-body img,
.markdown-body table {
    margin: auto !important;
}
.markdown-body blockquote {
    background-color: #f9fafb;
    font-size: 0.9em;
}
.markdown-body blockquote {
    color-scheme: dark;
    background-color: #090c10;
    font-size: 0.9em;
}
.markdown-body ol li {
    list-style-type: decimal;
}
.markdown-body li {
    list-style-type: disc;
}
.markdown-body blockquote {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.markdown-body p,
ol,
ul {
    margin: 1rem 0;
    line-height: 1.7;
}
.markdown-body code {
    font-family: var(--Font);
    margin-left: 0.5em;
    margin-right: 0.5em;
}
