@import url("https://fastly.jsdelivr.net/npm/github-markdown-css");
.markdown-body {
    font-family: "Noto Serif SC" !important;
    background-color: transparent !important;
}
.markdown-body img,
.markdown-body table {
    margin: auto !important;
}
.markdown-body blockquote {
    background-color: #f9fafb;
    font-size: 0.9em;
}
.markdown-body ol li {
    list-style-type: decimal;
}
.markdown-body li {
    list-style-type: disc;
}
